/* body{
    width: 1200px;
    margin-left: calc(50% - 600px);   
} */
header{
    
    background: url(coming-soon.png);
    background-repeat:repeat-x;
    /* background-size: cover; */
   background-color: #03a9f4;
}
main{
    background-color: #505153;
}
footer{
    background-color: rgb(223, 223, 129);
}