body{
    width: 1200px;
    margin-left: calc(50% - 600px);   
}
header{
    background-color: rgb(171, 171, 232);
}
main{
    background-color: #505153;
}
footer{
    background-color: rgb(223, 223, 129);
}