body {
    display: inline-block;
    margin: 0;
}

main {
    float: left;
    width: 100%;
}

h3 {
    text-transform: uppercase;
}

.container {
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: greenyellow;
}

.row-short {
    display: flex;
    width: 600px;
    margin-left: calc(50% - 300px);
    background-color: pink;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    justify-content: space-between
}

.left-column {
    width: 50%;

}

.right-column {
    width: 40%;
}
.social{
    /* display: inline-block; */
    text-decoration: none;
    color: white;
    font-size: 20px;
   
    text-align: center;


}