body {
    background-color: #0d8bc5;
}

#header {

    background-image: url('../Image/coming-soon-mazas.png');
    /* /* background-repeat: no-repeat; */
    background-size: cover;

}

main {
    background-color: #505153;
}

footer {
    background-color: #f4a403;
}