.timer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    font: 2em sans-serif;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
    

