.row-timer {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-left: calc(50% - 300px);
    object-fit: contain;
    color: white;
}
.timer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    font: 2em sans-serif;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    object-fit: contain;
    color: white;
}





